body {
    background-color: #d6a2c4; /* Color lila claro */
}
<style>

h1 {
    color: blueviolet; /* Le puse color al titulo */
}

/* ¿como le pongo color a una clase?  */

.Bienvenida{
    color: black
}

/*¿y si quiero ponerle color a un ID*/
#TipoAdop{
    color: pink;
}

.logopatita{
    width: 100px;
}
a{
    text-decoration: none !important;
}

#barra{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #FFC8D1;
    align-items: center;
   
}
nav{
    display: flex; 
    width: 70%;
    justify-content: space-between;
    font-family: cursive;
}
.Bienvenida{
    display: flex;
    flex-direction: row;
   font-family: 'Anton', sans-serif;
   font-family: 'Caprasimo', cursive;
   font-family: 'Merriweather', serif;
   font-family: 'Rajdhani', sans-serif;
   color: black;
   padding-top: 2%
    
}
.adoptando{
  color:black
}
.ImgInicio{
    width: 300px;
    position: relative; top: -100px;
}

.titulo{
    font-family: 'Anton', sans-serif;
    font-family: 'Caprasimo', cursive;
    color: #FFC8D1;
    text-align: center;
    font-size: 500%;
    padding-bottom: 2%;
    padding-top: 2%
}
.porque{
    color: black;
    text-align: center;
    font-size: 200%;
    padding-bottom: 2%;
    padding-top: 2%

}
.registrate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-family:  cursive;
    color: black;
}
footer{
    width: 100%;
    padding: 10px 0px;
    background-color: #FFC8D1;
}
.contenedortdfooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
}
.redessociales{
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-family: 'Anton', sans-serif;
font-family: 'Caprasimo', cursive;
font-family: 'Merriweather', serif;
font-family: 'Rajdhani', sans-serif;
color: black;
}
.mensajefin{ 
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-family: 'Anton', sans-serif;
font-family: 'Caprasimo', cursive;
font-family: 'Merriweather', serif;
font-family: 'Rajdhani', sans-serif;
color: black;
}
.mensajefinfoto{
    width: 100px;
}